#Log_In_Div{
    display: flex;
    text-align: center;
    flex-direction: column;
    color: black;
    column-count: 2;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Log_In_Div h1{
    background-color: chartreuse;
    color: white;
    padding: 10px;
    display: block;
    margin: 0px;
}

#Log_In_Div input{
    margin: 2px 3px;
}

#Log_In_Div button{
    position: relative;
    width: fit-content;
    border: none;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
}

#Log_In_Div label{
    color: red;
    margin: 0px;
}