#QR_Div{
    display: flex;
    flex-direction: column;
    max-height: 140px;
    text-align: left;
    align-items: center;
    color: white;
    overflow: hidden;
    background-color: chartreuse;
    border-radius: 15px;
    transition: max-height 0.5s ease-in-out;
}

#QR_Div input{
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    padding: 10px 0;
}

#QR_Div label{
    margin-top: 10px;
    font-size: 2em;
    font-weight: bold;
}

#QR_Div hr{
    padding: 1px 500px;
    background-color: white;
    border: none;
    color: white;
}
#QR_Div button{
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
}

#QR_Div img{
    display: block;
    opacity: 0;
    padding: 20px;
    border-radius: 10px;
    height: 100px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    transition: opacity 1s ease-in-out;
}